src/main/mule/helo-world-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2cdd8176-82f9-4c10-b90d-40c2736b0412" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helo-world-ci-cdFlow" doc:id="1cfa5a54-62a7-403e-b517-682b2c56deca" >
		<http:listener doc:name="Listener" doc:id="759dd132-7f67-4de4-83c0-ed14e8a1e8bc" config-ref="HTTP_Listener_config" path="/testgit"/>
		<logger level="INFO" doc:name="Logger" doc:id="45bae54c-6ae0-40df-a3e2-b6772090fa72" />
		<ee:transform doc:name="Transform Message" doc:id="f67af748-82e7-456d-8a5c-4e84ad574fd1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b4b8106d-986a-45d4-8bf7-5c631e9ba8b6" message="#[payload]"/>
	</flow>
</mule>
